# Set target chip
CONFIG_IDF_TARGET="esp32s3"

# Use large single-app partition (2MB factory partition)
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y

# TinyUSB Configuration
CONFIG_TINYUSB_CDC_ENABLED=y

# LVGL Configuration
CONFIG_LV_COLOR_16_SWAP=y

CONFIG_LV_FONT_MONTSERRAT_10=y
CONFIG_LV_FONT_MONTSERRAT_12=y
CONFIG_LV_FONT_MONTSERRAT_14=y
CONFIG_LV_FONT_MONTSERRAT_16=y
CONFIG_LV_FONT_MONTSERRAT_18=y
CONFIG_LV_FONT_MONTSERRAT_20=y
CONFIG_LV_FONT_MONTSERRAT_22=y
CONFIG_LV_FONT_MONTSERRAT_24=y
CONFIG_LV_FONT_MONTSERRAT_48=y

# All debug output goes to UART0 via uart_write_bytes
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y

# Disable Task WDT
# CONFIG_ESP_TASK_WDT_EN is not set
# CONFIG_ESP_TASK_WDT_INIT is not set
# CONFIG_TASK_WDT is not set

# SNTP (Network Time Sync) Configuration
CONFIG_LWIP_SNTP=y
CONFIG_LWIP_DHCP_GET_NTP_SRV=y
CONFIG_SNTP_MAX_SERVERS=3
CONFIG_LWIP_DHCP_MAX_NTP_SERVERS=1
# CONFIG_SNTP_TIME_SYNC_METHOD_IMMED is not set
CONFIG_SNTP_TIME_SYNC_METHOD_SMOOTH=y
# CONFIG_SNTP_TIME_SYNC_METHOD_CUSTOM is not set
