# Set target chip
CONFIG_IDF_TARGET="esp32s3"

# TinyUSB Configuration
CONFIG_TINYUSB_CDC_ENABLED=y

# LVGL Configuration
CONFIG_LV_COLOR_16_SWAP=y

CONFIG_LV_FONT_MONTSERRAT_10=y
CONFIG_LV_FONT_MONTSERRAT_12=y
CONFIG_LV_FONT_MONTSERRAT_14=y
CONFIG_LV_FONT_MONTSERRAT_16=y
CONFIG_LV_FONT_MONTSERRAT_18=y
CONFIG_LV_FONT_MONTSERRAT_20=y
CONFIG_LV_FONT_MONTSERRAT_22=y
CONFIG_LV_FONT_MONTSERRAT_24=y
CONFIG_LV_FONT_MONTSERRAT_48=y

# All debug output goes to UART0 via uart_write_bytes
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y

# Disable Task WDT
# CONFIG_ESP_TASK_WDT_EN is not set
# CONFIG_ESP_TASK_WDT_INIT is not set
# CONFIG_TASK_WDT is not set